services:
  mysql:
    image: mysql:8
    container_name: mysql-docker
    restart: always
    ports:
      - "127.0.0.1:3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: grms
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin
    volumes:
      - mysql_data:/var/lib/mysql

  api:
    build: .
    container_name: grms-api
    restart: always
    environment:
      DB_HOST: mysql
      DB_NAME: grms
      DB_USER: root
      DB_PASS: root
      DB_PORT: 3306
      JWT_SECRET: 17ace333fd7cf4512c558a66ba53c43d
      FRONTEND_URL: http://localhost:5173
    depends_on:
      - mysql
    expose:
      - "8080"

  nginx:
    image: nginx:alpine
    container_name: grms-nginx
    restart: always
    ports:
      - "8080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - api

volumes:
  mysql_data:
